# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/

# Debugging files

# Build output
build/
dist/

# IDE or editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.swp

# Compiled binary addons (if any)
*.node
